In [71]:
import pandas as pd

In [72]:
df = pd.read_csv('../feature_engineering_analysis.csv')

In [73]:
# Squared values

# Sorting MAE_Squared values in descending order
df.sort_values(by=['MAE_Squared'], inplace=True, ascending=True)

# Printing the first 10 rows of the sorted DataFrame, but only 'Feature' and 'MAE_Squared' columns
df[['Feature', 'MAE_Original', 'MAE_Squared', 'Importance_Original', 'Importance_Squared']].head(10)

,Feature,MAE_Original,MAE_Squared,Importance_Original,Importance_Squared
0,temp_dew_point_diff:K,187.780163,187.848765,0.003915,0.002222

In [74]:
# Cubed values

# Sorting MAE_Cubed values in descending order
df.sort_values(by=['MAE_Cubed'], inplace=True, ascending=True)

# Printing the first 10 rows of the sorted DataFrame, but only 'Feature' and 'MAE_Cubed' columns
df[['Feature', 'MAE_Original', 'MAE_Cubed', 'Importance_Original', 'Importance_Cubed']].head(10)

,Feature,MAE_Original,MAE_Cubed,Importance_Original,Importance_Cubed
0,temp_dew_point_diff:K,187.780163,187.842317,0.003915,0.002177

In [75]:
# Square root values

# Sorting MAE_SquareRoot values in descending order
df.sort_values(by=['MAE_SquareRoot'], inplace=True, ascending=True)

# Printing the first 10 rows of the sorted DataFrame, but only 'Feature' and 'MAE_SquareRoot' columns
df[['Feature', 'MAE_Original', 'MAE_SquareRoot', 'Importance_Original', 'Importance_SquareRoot']].head(10)

,Feature,MAE_Original,MAE_SquareRoot,Importance_Original,Importance_SquareRoot
0,temp_dew_point_diff:K,187.780163,NaN,0.003915,NaN

In [76]:
# Normalized values

# Sorting MAE_Normalized values in descending order
df.sort_values(by=['MAE_Normalized'], inplace=True, ascending=True)

# Printing the first 10 rows of the sorted DataFrame, but only 'Feature' and 'MAE_Normalized' columns
df[['Feature', 'MAE_Original', 'MAE_Normalized', 'Importance_Original', 'Importance_Normalized']].head(10)

,Feature,MAE_Original,MAE_Normalized,Importance_Original,Importance_Normalized
0,temp_dew_point_diff:K,187.780163,187.866846,0.003915,0.002176

In [77]:
# Standardized values

# Sorting MAE_Standardized values in descending order
df.sort_values(by=['MAE_Standardized'], inplace=True, ascending=True)

# Printing the first 10 rows of the sorted DataFrame, but only 'Feature' and 'MAE_Standardized' columns
df[['Feature', 'MAE_Original', 'MAE_Standardized', 'Importance_Original', 'Importance_Standardized']].head(10)

,Feature,MAE_Original,MAE_Standardized,Importance_Original,Importance_Standardized
0,temp_dew_point_diff:K,187.780163,187.866846,0.003915,0.002176

In [78]:
# Integral values

# Sorting MAE_Integral values in descending order
df.sort_values(by=['MAE_Integral'], inplace=True, ascending=True)

# Printing the first 10 rows of the sorted DataFrame, but only 'Feature' and 'MAE_Integral' columns
df[['Feature', 'MAE_Original', 'MAE_Integral', 'Importance_Original', 'Importance_Integral']].head(10)

,Feature,MAE_Original,MAE_Integral,Importance_Original,Importance_Integral
0,temp_dew_point_diff:K,187.780163,187.921848,0.003915,0.004996